.btn {
  border: none;
  font-size: 1rem;
  transition: all .05s;

  &-blue {
    color: $color-white;
    background-color: $color-blue;

    height: 2rem;
    width: 5rem;

    &:hover {
      background-color: $color-blue-dark;
    }

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(1px);
    }
  }
}
