.form {
  text-align: center;
  padding-top: 2rem;

  &__error {
    color: $color-red;
    margin-top: .2rem;
    text-align: left;
    font-size: .8rem;
  }

  &__input {
    padding: .5rem .5rem;
    height: 5rem;
    width: 20rem;
    margin: 0 auto;

    &-label {
      display: inline-block;
      width: 50%;
    }

    &-input {
      width: 50%;
      height: 1.5rem;
      font-size: 1rem;
    }

    &-error {
      color: $color-red;
      margin-top: .1rem;
    }
  }

  &__button {
    text-align: center;
  }

  &__forgot {
    padding: .5rem .5rem;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    font-size: .8rem;
    text-transform: uppercase;

    display: flex;
    justify-content: space-between;

    & a:link, & a:visited {
      text-decoration: none;
      color: #949494;

      &:hover{
        color: #000;
      }
    }

  }

  & .has-danger input{
    &:focus {
      outline-color: $color-red;
    }
  }
}
