.userlist {
  padding: 2rem;

  &__progress {
    width: 100%;
    margin-top: 1rem;
    text-align: center;
  }

  & th:first-child, & td:first-child{
    width: 40%;
  }

  & th:nth-child(2), & td:nth-child(2){
    width: 20%;
  }

  & th:nth-child(3), & td:nth-child(3){
    width: 40%;
  }

  & tr {
    animation: fadeIn .5s;
  }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
