*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // 1rem = 10px
  //font-size: 62.5%;

  // 1rem = 16px
  font-size: 100%;

}

body {
  box-sizing: border-box;
  //background-color: #153354;
  //color: #fff;
}
