.facebookLoginButton {
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  width: 15rem;
  height: 50px;
}

.facebookLoginButton__div {
  background-color: #4267B2;
  display: flex;
  align-items: center;
}

.facebookLoginButton__img__div {
  text-align: left;
  width: 50px;
  height: 48px;
}

.facebookLoginButton__img {
  padding: 3px;
  height: 48px;
}

.facebookLoginButton__span {
  color: white;
  font-size: 1rem;
  padding-left: .5rem;
  padding-right: 1rem;
}
