.googleLoginButton {
  outline: none;
  border: none;
  cursor: pointer;
  width: 15rem;
  height: 40px;
}

.googleLoginButton__div {
  background-color: #4285F4;
  display: flex;
  align-items: center;
}

.googleLoginButton__img__div {
  text-align: left;
  width: 50px;
  height: 48px;
}

.googleLoginButton__img {
  height: 48px;
}

.googleLoginButton__span {
  color: white;
  font-size: 1rem;
  padding-left: .5rem;
  padding-right: .5rem;
}
