.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-blue;

  & a:link, & a:visited{
    text-decoration: none;
    padding: 2rem .5rem;
    color: $color-white;

    &:hover{
      color: $color-blue-light;
    }
  }
}
